<form>
  <div class="row form-group form-inline">

    <div class="col-3 offset-sm-1">
      Search: <input class="form-control ml-2" type="text" [formControl]="filter" />
    </div>

    <div class="col-2 offset-6">
      <app-add-product (createProduct)="addProduct($event)"></app-add-product>
    </div>
  </div>

  <div class="row">
    <div class="col ml-5 mr-5">
      <p *ngFor="let alert of alerts">
        <ngb-alert [type]="alert.type" (close)="close(alert)">{{ alert.message }}</ngb-alert>
      </p>
    </div>
  </div>

</form>

<table class="table table-striped pl-2 pr-2">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Product Name</th>
      <th scope="col">Current Count</th>
      <th scope="col">Mannual Count</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products | searchKeyword : filter.value; index as i">
      <th scope="row">{{i + 1}}</th>
      <td>
        <ngb-highlight [result]="product.Name" [term]="filter.value"></ngb-highlight>
      </td>
      <td>
        <ngb-highlight [result]="product.Count | number" [term]="filter.value"></ngb-highlight>
      </td>
      <td>
        <div class="form-inline">
          <input class="form-control ml-2 col-sm-2" type="number" min="0" [(ngModel)]="manualCount[product.Id]" />
          <button class="btn btn-default ml-2" [disabled]="!manualCount[product.Id]"
            (click)="overrideCount(product.Id)">Override</button>

          <button class="btn btn-default ml-2" (click)="addOneItem(product.Id)">Add an item

            
          </button>

          <button class="btn btn-default ml-2" [disabled]="product.Count === 0"
            (click)="removeOneItem(product.Id)">Remove an item
           </button>

            <i class="material-icons offset-sm-3 " (click)="removeProduct(product)" title="Delete product">
              delete_forever
            </i>


        </div>
      </td>
    </tr>
  </tbody>
</table>
<!-- <app-surf-recorder></app-surf-recorder> -->