<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add new product</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
    <div class="modal-body">
      <div class="form-group">
        <label for="productName">Name</label>
        <div class="input-group">
          <input id="productName" class="form-control" formControlName="Name" required>
        </div>
      </div>

    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-outline-dark" [disabled]="!productForm.valid">Add</button>
    </div>
  </form>
</ng-template>

<button class="btn btn-lg btn-outline-primary" (click)="open(content)">Add Product</button>