
<header class="text-center mt-5 mb-5">
  <h1 class="">Alpha Inventory System</h1>
</header>

<app-stock-items></app-stock-items>

<router-outlet></router-outlet>

<footer>
  <div class="text-center">
      Code licensed MIT,
      <a href="https://bitbucket.org/alphabegood/inventorysystem/src/master/">Download the code</a>
  </div>
  
</footer>