<div class="surf-recorder" >
  <div class="row">
    <div class="col">
        <i class="material-icons" [ngClass]="{'see_red': capturing === true}" (click)="recorderAction($event)">
            {{recordButton}}
            </i>
    </div>
    <div class="col">
        <i class="material-icons" (click)="replayAction($event)">
            {{playButton}}
            </i>
    </div>
  </div>
  <div class="row">
      <div class="col">
        Events Recorded: {{numberRecords}}
      </div>
  </div>
</div>