.surf-recorder{
    border: 1px solid gainsboro;
    border-radius: 5px;
    width: 200px;
    height: 100px;
    position: absolute;
    z-index: auto;
    box-shadow:  2px 2px #888888;
}

.material-icons.see_red{
    color: red !important;
}